NET clk LOC = C9;
NET reset LOC = D18;

NET LCDE LOC = M18;
NET LCDRS LOC = L18;
NET LCDRW LOC = L17;
NET SFD_0 LOC = R15;
NET SFD_1 LOC = R16;
NET SFD_2 LOC = P17;
NET SFD_3 LOC = M15;


NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 20 ns HIGH 50 %;

INST "myBRAM/RAMB16_S9_inst" LOC = RAMB16_X0Y9;
